---
layout: default
---

{% for post in site.posts %}
<article>
  <h2>
    <a href={{ post.url }} class=permalink title=Permalink>↪</a>
    {% if post.link %}
    <a href={{ post.link }}>{{ post.title }}</a>
    {% else %}
    {{ post.title }}
    {% endif %}
  </h2>
  <h3>{{ post.date | date_to_string }}</h3>

  {% if post.image %}
  <img src={{ post.image }}>
  {% elsif post.youtube %}
  <div class=video>
    <iframe src=https://www.youtube.com/embed/{{ post.youtube }} width=500 height=281 frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {% elsif post.vimeo %}
  <div class=video>
    <iframe src=https://player.vimeo.com/video/{{ post.vimeo }} width=500 height=281 frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {% endif %}

  {{ post.content }}
</article>
{% endfor %}
