/* defaults */

@font-face {
  font-family: Raleway;
  font-weight: 200;
  src: local('Raleway ExtraLight'),
       local('Raleway-ExtraLight'),
       url('raleway-200.ttf');
}

@font-face {
  font-family: Raleway;
  font-weight: 400;
  src: local('Raleway'),
       local('Raleway Regular'),
       local('Raleway-Regular'),
       url('raleway-400.ttf');
}

body {
  font-family: Raleway, serif;
  font-weight: 200;
  font-size: 80%;
  text-rendering: optimizeLegibility;
}

h1, h2 {
  font-weight: 400;
}

h1 {
  font-size: 200%;
  color: #444;
}

h2 {
  font-size: 150%;
  color: #777;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 a {
  color: #444;
}

h2 a {
  color: #777;
}

h2 a:visited {
  color: #aaa;
}

h1 a:hover, h2 a:hover {
  text-decoration: none;
}


/* layout */

main {
  max-width: 30em;
  margin: 3em auto;
  text-align: center;
}
