<!DOCTYPE html>
<html class=no-js>

<meta charset=utf-8>
<meta name=viewport content="width=device-width, user-scalable=no">
<title>{{ page.title || site.name }}</title>
<link rel=stylesheet href="/style.css">
<script>document.documentElement.className = ''</script>

<header>
  <h1>
    <a href=/stream/>{{ site.name }}</a>
    <a id=hash></a>
  </h1>
</header>

<main>
  {{ content }}
</main>

<script>
  if (location.href.slice(location.href.length - 10) === 'index.html')
    if (history)
      history.replaceState(null, '', location.href.slice(0, location.href.length - 10));
    else
      location.replace(location.href.slice(0, location.href.length - 10));
</script>

</html>
