---
layout: default
---

<article>
  <h2>
    <a href={{ page.url }} class=permalink title=Permalink>↪</a>
    {% if page.link %}
    <a href={{ page.link }}>{{ page.title }}</a>
    {% else %}
    {{ page.title }}
    {% endif %}
  </h2>
  <h3>{{ page.date | date_to_string }}</h3>

  {% if page.image %}
  <img src={{ page.image }}>
  {% elsif page.youtube %}
  <div class=video>
    <iframe src=https://www.youtube.com/embed/{{ page.youtube }} width=500 height=281 frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {% elsif page.vimeo %}
  <div class=video>
    <iframe src=https://player.vimeo.com/video/{{ page.vimeo }} width=500 height=281 frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  {% endif %}

  {{ content }}

  <ul class=tags>
    {% for tag in page.tags %}
    <li><a href=/stream/#{{ tag }}>#<span>{{ tag }}</span></a>
    {% endfor %}
  </ul>
</article>
